:root {
    --main-color: #7F6BF6;
    --main-colordark: #5443b5;
    --main-black: #232323;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /*     background-color: #99D2A5e3;
    background-image: linear-gradient(0deg, #a9ffeae3 30%, #5cc9d6e3 70%); */
    overflow-x: hidden;
}

.link-simple {
    color: #7F6BF6;
    text-decoration: none;
}

.link-simple:hover {
    color: #5cc9d6e3;
    text-decoration: none;
}

.border-gradient {
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #5cc9d6e3, #743ad5, #5cc9d6e3);
}

.idiomas {
    color: var(--main-color);
}

.revisor {
    background-color: transparent;
    height: 2rem;
    width: 8rem;
    border: 0.10rem solid var(--main-color);
    border-radius: 2rem;
    color: var(--main-color) !important;
    text-decoration: none;
    text-shadow: -50px -50px 0px #ffffff;
}

.revisor a {
    color: var(--main-color) !important;
}

.revisor:hover {
    background-color: var(--main-color);
    height: 2rem;
    width: 8rem;
    border: 0.10rem solid var(--main-color);
    border-radius: 2rem;
    color: #5cffff !important;
    text-decoration: none;
    text-shadow: -50px -50px 0px #ffffff;
}

.revisor a:hover {
    color: #5cffff !important;
}

.my-badge {
    background-color: var(--main-color);
}

.my-badge:hover {
    background: #5cffff;
    color: var(--main-color);
}

.logout, .register {
    height: 2rem;
    width: 8rem;
    text-align: center;
    transition: 0.5s;
    background-size: 400% auto;
    color: white;
    border-radius: 2.5rem;
    display: block;
    border: none;
}

.logout:hover, .register:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.formLang {
    display: inline;
}

.login {
    height: 2rem;
    width: 8rem;
    color: var(--main-color);
    height: 2.0rem;
    border: 0.10rem solid var(--main-color);
    border-radius: 2rem;
}

.login:hover {
    background-color: var(--main-color);
    color: white;
}

.login:active, .register:active, .idiomas:active {
    color: var(--main-colordark);
}

.idiomas a:hover {
    color: var(--main-color) !important;
}

.welcome {
    font-size: 4rem;
}

.form-login {
    -webkit-box-shadow: 0px 0px 23px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 23px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 23px -10px rgba(0, 0, 0, 0.38);
    border: 0px;
    border-radius: 1rem;
    min-width: 330px;
}

.background-be {
    background-image: url("/css/pat1-100.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

::marker {
    color: var(--main-color);
}

.linav {
    width: 15rem;
    height: 10rem;
    color: #232323;
    border: 2px linear-gradient(to left, #5cc9d6e3, #743ad5, #5cc9d6e3);
}

.linav a {
    color: #232323;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
}

.linav a:hover {
    color: #5cc9d6e3;
}

.linav a img:hover {
    width: 70px;
    height: 70px;
}

.arrow {
    border: solid var(--main-color);
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 8px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.mycard {
    -webkit-box-shadow: 0px 0px 23px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 23px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 23px -10px rgba(0, 0, 0, 0.38);
    border: 0px;
    border-radius: 1rem;
}

.btn-grad, .btn-med, .logout, .register {
    background-image: linear-gradient(to right, var(--main-color) 0%, #5cffff 65%, var(--main-color) 100%)
}

.btn-grad {
    width: 20rem;
    height: 3rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 400% auto;
    color: white;
    border-radius: 2.5rem;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-med {
    width: 10rem;
    height: 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 400% auto;
    color: white;
    border-radius: 2.5rem;
    display: block;
}

.btn-med:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.UNKNOWN {
    background-color: #696969;
}

.VERY_UNLIKELY {
    background-color: #038142;
}

.UNLIKELY {
    background-color: #03DD70;
}

.POSSIBLE {
    background-color: #F9F900;
}

.LIKELY {
    background-color: #F99700;
}

.VERY_LIKELY {
    background-color: #F90000;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.footer-columns {
    column-count: 2;
    column-gap: 20px;
}

.footer-color {
    margin-top: 50px !important;
    ;
    background-color: #f7f7f7;
    box-shadow: 0px 5px 5px rgb(236, 236, 236), 0px -5px 5px rgb(236, 236, 236);
    font-size: 13px;
}

.footer-link a {
    color: var(--main-black);
    text-decoration: none;
}

.footer-link a:hover {
    color: var(--main-color);
}

.footer-link a:active {
    color: var(--main-colordark);
}