:root {
    --main-color: #7f6bf6;
    --main-colordark: #5443b5;
    --main-black: #232323;
    --main-light: #83f8b8;
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #ffffff;
    --greyLight-1: #e9eef5;
    --greyLight-2: #bac1d6;
    --greyLight-3: #9ea7be;
    --greyDark: #9baacf;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    /*     background-color: #99D2A5e3;
    background-image: linear-gradient(0deg, #a9ffeae3 30%, #5cc9d6e3 70%); */
    overflow-x: hidden;
    /*     background: var(--greyLight-1);
 */
}

body {
    background-image: url("/css/purple-bubbles-1.jpg");
    background-size: cover;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar > .container-fluid {
    max-width: 2000px;
    position: relative;
}

@media screen and (max-width: 992px) {
    .navbar > .container-fluid > div {
        flex-grow: 1;
    }

    .navbar .home-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.alert {
    margin-bottom: 0 !important;
}

.alert-success {
    background-color: #d1e7dd !important;
}

.alert-danger {
    background-color: #f8d7da !important;
}

.content {
    flex: 1;
}

.content-wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1.5rem;
}

.container__announcements > .row {
    padding-inline: 0;
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 576px) {
    .container__announcements > .row {
        padding-inline: inherit;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.container__announcements div:has(> .mycard) {
    padding-inline: 0;
}

@media (min-width: 768px) {
    .container__announcements div:has(> .mycard) {
        padding-inline: inherit;
    }
}

.row {
    margin-inline: 0;
}

.link-simple {
    color: #7f6bf6;
    text-decoration: none;
}

.link-simple:hover {
    color: #5cc9d6e3;
    text-decoration: none;
}

.border-gradient {
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(
        to left,
        var(--main-light),
        #743ad5,
        var(--main-light)
    );
}

.idiomas {
    color: var(--main-color);
}

.revisor {
    background-color: transparent;
    height: 2rem;
    width: 8rem;
    border: 0.1rem solid var(--main-color);
    border-radius: 2rem;
    color: var(--main-color) !important;
    text-decoration: none;
    text-shadow: -50px -50px 0px #ffffff;
}

.revisor a {
    color: var(--main-color) !important;
}

.revisor:hover {
    background-color: var(--main-color);
    height: 2rem;
    width: 8rem;
    border: 0.1rem solid var(--main-color);
    border-radius: 2rem;
    color: #5cffff !important;
    text-decoration: none;
    text-shadow: -50px -50px 0px #ffffff;
}

.revisor a:hover {
    color: #5cffff !important;
}

.my-badge {
    background-color: var(--main-color);
}

.my-badge:hover {
    background: #5cffff;
    color: var(--main-color);
}

.logout {
    height: 2rem;
    width: 8rem;
    text-align: center;
    transition: 0.5s;
    background-size: 400% auto;
    color: white;
    border-radius: 2.5rem;
    display: block;
    border: none;
}

.register {
    color: var(--main-colordark);
}

.register:hover {
    color: var(--main-color);
}

.logout:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.formLang {
    display: inline;
}

.dropdown-menu.language-menu {
    left: -100px;
    top: 80px;
}

.login {
    height: 2rem;
    width: 8rem;
    color: var(--main-color);
    height: 2rem;
    border: 0.1rem solid var(--main-color);
    border-radius: 2rem;
}

.login:hover {
    background-color: var(--main-color);
    color: white;
}

.login:active,
.register:active,
.idiomas:active {
    color: var(--main-colordark);
}

.idiomas a:hover {
    color: var(--main-color) !important;
}

.welcome {
    color: var(--main-colordark);
    font-weight: bold !important;
    text-shadow: 1px 1px 0px var(--main-light);
}

.form-login {
    -webkit-box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
        -0.2rem -0.2rem 0.5rem var(--white);
    -moz-box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
        -0.2rem -0.2rem 0.5rem var(--white);
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
        -0.2rem -0.2rem 0.5rem var(--white);
    border: 0px;
    border-radius: 1rem;
    min-width: 330px;
    max-width: 550px;
}

.icon__account,
.icon__home,
.icon__world {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
        -0.2rem -0.2rem 0.5rem var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    color: var(--greyDark);
    transition: all 0.5s ease;
}

.icon__account:active,
.icon__home:active,
.icon__world:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
        inset -0.2rem -0.2rem 0.5rem var(--white);
    color: var(--primary);
}

.icon__account:hover,
.icon__home:hover,
.icon__world:hover {
    color: var(--primary);
}

.search {
    position: relative;
    display: flex;
    align-items: center;
}

.search__input {
    border: none;
    border-radius: 1rem;
    padding-left: 3.8rem;
    font-size: 1.4rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
        inset -0.2rem -0.2rem 0.5rem var(--white);
    background: none;
    font-family: inherit;
    color: var(--greyDark);
}

.search__input::-moz-placeholder {
    color: var(--greyLight-3);
}

.search__input:-ms-input-placeholder {
    color: var(--greyLight-3);
}

.search__input::placeholder {
    color: var(--greyLight-3);
}

.search__input:focus {
    outline: none;
    background: transparent;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
        -0.2rem -0.2rem 0.5rem var(--white);
}

.search__input:focus + .search__icon {
    color: var(--primary);
}

.search__icon {
    border: none;
    background: transparent;
    height: 2rem;
    position: absolute;
    font-size: 2rem;
    padding: 0 1rem;
    display: flex;
    color: var(--greyDark);
    transition: 0.3s ease;
}

.background-be {
    background-image: url("/css/pat1-100.jpg");
    background-color: #e5e3f5;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
}

::marker {
    color: var(--main-color);
}

/* .linav {
    width: 15rem;
    height: 10rem;
    color: #232323;
    border: 2px linear-gradient(to left, #5cc9d6e3, #743ad5, #5cc9d6e3);
}

.linav a {
    color: #232323;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
}

.linav a:hover {
    color: #5cc9d6e3;
} */

.linav {
    border: 2px solid;
    border-color: #89ffbe;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15rem;
    height: 10rem;
    box-shadow: 0 8px 32px 0 rgba(4, 11, 109, 0.37);
    border-radius: 3rem;
}

.linav a {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
}

.linav:hover {
    border-radius: 3rem;
    background-color: var(--main-color);
    background-blend-mode: multiply;
    cursor: pointer;
}

.linav a:hover span {
    color: #89ffbe;
    text-shadow: 1px 1px 0px var(--main-colordark);
}

.arrow {
    border: solid var(--main-color);
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 8px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/*.container__announcements {
    background-image: url("/css/purple-bubbles-1.jpg");
    background-size: cover;
    position: relative;
}*/

.carousel-inner {
    display: flex;
    align-items: center;
}

.categories {
    /*background-image: url("/css/purple-bubbles-1.jpg");
    background-size: cover;
    z-index: 9;*/
    position: relative;
}

.content > *:not(.container__announcements) {
    background: rgba(255, 255, 255, 0.8);
}

.container__categories {
    position: relative;
    z-index: 9;
    height: 100%;
}

@media (min-width: 1024px) {
    .categories {
        background-attachment: fixed;
    }
}

.mycard {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 1rem;
    // max-width: 620px;
}

.mycard img {
    border: 0px;
    border-radius: 10px;
    // max-width: 250px;
}

@media (min-width: 768px) {
    .mycard img {
        border-radius: 10px 0 0 10px;
        max-width: inherit;
    }
}

.btn-grad,
.btn-med,
.logout {
    background-image: linear-gradient(
        to right,
        var(--main-color) 0%,
        #89ffbe 65%,
        var(--main-color) 100%
    );
}

.btn-grad {
    width: 20rem;
    height: 3rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 400% auto;
    color: white;
    border-radius: 2.5rem;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-med {
    width: 10rem;
    height: auto;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 400% auto;
    color: white;
    border-radius: 2.5rem;
    display: block;
}

.btn-med:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.UNKNOWN {
    background-color: #696969;
}

.VERY_UNLIKELY {
    background-color: #038142;
}

.UNLIKELY {
    background-color: #03dd70;
}

.POSSIBLE {
    background-color: #f9f900;
}

.LIKELY {
    background-color: #f99700;
}

.VERY_LIKELY {
    background-color: #f90000;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.footer-columns {
    column-count: 2;
    column-gap: 20px;
}

.footer-color {
    /*     margin-top: 50px !important;
    ; */
    background-color: #f7f7f7;
    box-shadow: 0px 5px 5px rgb(236, 236, 236), 0px -5px 5px rgb(236, 236, 236);
    font-size: 13px;
}

.footer-link a,
.copyright {
    color: var(--main-black);
    text-decoration: none;
}

.footer-link a:hover,
.copyright {
    color: var(--main-color);
}

.footer-link a:active,
.copyright {
    color: var(--main-colordark);
}

.social-links a {
    font-size: 18px;
    display: inline-block;
    background: #46423b;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.social-links a:hover {
    background: var(--main-color);
}
